
<div class="mainpage" >



<div class="first-content-flexebility" >
  <div class="left-text-field " >
    <span  class="left-text-field-span" >Welcome dans le site officiel de Laboratoire Nato</span>
    <p class="left-text-field-p" >Accès aux résultats d'analyse en ligne </p>
    <button mat-raised-button id="button1" routerLink="/auth/signup"  >Create Account</button>
    <button mat-flat-button   id="button2" (click)="code_analyse()">Code d'analyse</button>
  </div>





  <div>
    <mat-card class="right-card-field " >
      <img mat-card-image src="../../assets/dna-1811955_1920.jpg" alt="analyse">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain,
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<div style="text-align: center; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; " ><span>Des details a Notre Laboratoire</span></div>

<div class="secend-content-card" >

  <mat-card class="content-secend-content-card" >
    <a mat-fab class="icon-logo-1" ><mat-icon aria-hidden="false" aria-label="croix">security</mat-icon></a>
    <div><span class="content-secend-content-card-span" >Start an online eCommerce business</span></div>
    <p class="content-secend-content-card-p" >Join in on the eCommerce boom and sell globally.
      Set the margins that work best for your business model and start selling.</p>
  </mat-card>
  <mat-card class="content-secend-content-card" >
    <a mat-fab class="icon-logo-2" ><mat-icon aria-hidden="false" aria-label="croix">dashboard</mat-icon></a>
    <div><span class="content-secend-content-card-span" >Start an online eCommerce business</span></div>
    <p class="content-secend-content-card-p" >Join in on the eCommerce boom and sell globally.
      Set the margins that work best for your business model and start selling.</p>

  </mat-card>
  <mat-card class="content-secend-content-card" >
    <a mat-fab class="icon-logo-3" ><mat-icon aria-hidden="false" aria-label="croix">new_releases</mat-icon></a>
    <div><span class="content-secend-content-card-span" >Start an online eCommerce business</span></div>
    <p class="content-secend-content-card-p" >Join in on the eCommerce boom and sell globally.
      Set the margins that work best for your business model and start selling.</p>

  </mat-card>


</div>

<div style="text-align: center; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; " ><span>Des details a Notre Laboratoire</span></div>






<div class="third-content-card" >

<mat-carousel
  timings="300ms ease-in"
  [autoplay]="true"
  color="warn"
  maxWidth="auto"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000000"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>
</div>





  <div class="fourth-content-card" >
    <mat-card class="content-fourth-content-card" >
      <a mat-fab class="fourth-content-card-icon-logo-1" ><mat-icon aria-hidden="false" aria-label="croix">account_balance_wallet</mat-icon></a>
      <div><span class="content-fourth-content-card-span" >BIOCHIMIE</span></div>
      <p class="content-fourth-content-card-p" >L'étude des réactions chimiques qui se déroulent au sein des êtres vivants,.</p>
    </mat-card>

    <mat-card class="content-fourth-content-card"  >
      <a mat-fab class="fourth-content-card-icon-logo-2" ><mat-icon aria-hidden="false" aria-label="croix">class</mat-icon></a>
      <div><span class="content-fourth-content-card-span" >HÉMATOLOGIE</span></div>
      <p class="content-fourth-content-card-p" >La science qui étudie le sang et ses maladies (ou hémopathies).</p>

    </mat-card>
    <mat-card class="content-fourth-content-card" >
      <a mat-fab class="fourth-content-card-icon-logo-3" ><mat-icon aria-hidden="false" aria-label="croix">info</mat-icon></a>
      <div><span class="content-fourth-content-card-span" >IMMUNOLOGIE</span></div>
      <p class="content-fourth-content-card-p" >La branche de la biologie qui s'occupe de l'étude du système immunitaire.</p>

    </mat-card>
        <mat-card class="content-fourth-content-card" >
      <a mat-fab class="fourth-content-card-icon-logo-4" ><mat-icon aria-hidden="false" aria-label="croix">phone</mat-icon></a>
      <div><span class="content-fourth-content-card-span" >HEMOSTASE</span></div>
      <p class="content-fourth-content-card-p" >L'ensemble des phénomènes du sang et des vaisseaux sanguins
         prévenant ou permettant l'arrêt de l'écoulement du sang.</p>

    </mat-card>
  </div>
  <div class="fourth-content-card" >

    <mat-card class="content-fourth-content-card" >
      <a mat-fab class="fourth-content-card-icon-logo-1" ><mat-icon aria-hidden="false" aria-label="croix">verified_user</mat-icon></a>
      <div><span class="content-fourth-content-card-span" >HORMONOLOGIE</span></div>
      <p class="content-fourth-content-card-p" >Une branche de la biochimie clinique qui étudie
         les anomalies hormonales.</p>
    </mat-card>
    <mat-card class="content-fourth-content-card" >
      <a mat-fab class="fourth-content-card-icon-logo-2" ><mat-icon aria-hidden="false" aria-label="croix"> invert_colors_off</mat-icon></a>
      <div><span class="content-fourth-content-card-span" >ALLERGOLOGIE</span></div>
      <p class="content-fourth-content-card-p" >Une spécialité médicale de fonction prenant
         en charge les maladies.</p>

    </mat-card>
    <mat-card class="content-fourth-content-card" >
      <a mat-fab class="fourth-content-card-icon-logo-3" ><mat-icon aria-hidden="false" aria-label="croix"> rss_feed</mat-icon></a>
      <div><span class="content-fourth-content-card-span" >MICROBIOLOGIE</span></div>
      <p class="content-fourth-content-card-p" >Un domaine des sciences appliquées qui a pour objet
        les micro-organismes et les activités qui les caractérisent.</p>

    </mat-card>
        <mat-card class="content-fourth-content-card" >
      <a mat-fab class="fourth-content-card-icon-logo-4" ><mat-icon aria-hidden="false" aria-label="croix">vpn_key</mat-icon></a>
      <div><span class="content-fourth-content-card-span" >BIOLOGIE</span></div>
      <p class="content-fourth-content-card-p" >La biologie s'étend du niveau moléculaire, à celui de
        la cellule, puis de l'organisme.</p>

    </mat-card>

  </div>






<div>
</div>
</div>
