
.mainpage{
  max-width: 1200px;
  margin: auto;
}

.first-content-flexebility{
  display: flex;

}
.left-text-field{
  margin: 100px auto ;
  animation-name: slide-in-left;
  animation-duration: 1s;
}

.left-text-field-span{
  font-size: 45px;
  margin: 30px auto;
  line-height: 1.6;
}
.left-text-field-p{
  font-size: 25px;
  font-weight: lighter;
  color: rgba(4, 17, 29, 0.75);
  margin: 30px auto;
}
button{
  height: 50px;
  width: 170px;
  margin: auto 50px auto auto;
  font-size: 20px;
}
#button1{
  background-color: var(--maincolor);
  color: white;
}
#button2{
  border: 1px solid var(--maincolor);
  color:  var(--maincolor);
}
button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.right-card-field{
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  height: 450px;
  width: 510px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  animation-name: check ;
  animation-duration: 4s;
}
.right-card-field:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.right-card-field img{
  height: 380px;
  animation-name: check;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/*/********************************************************************************/

.secend-content-card{
  margin: 70px auto ;
  display: flex;
}
.content-secend-content-card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  width: 330px;
  height: 250px;
  margin: auto;
  background-color: var(--secendcolor);
  text-align: center;
}
.icon-logo-1{
  color: var(--secendcolor);
  background-color: rgb(24, 90, 233);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  cursor: default;
  margin: 30px auto;
}
.icon-logo-2{
  color: var(--secendcolor);
  background-color: rgb(233, 48, 24);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  cursor: default;
  margin: 30px auto;
}
.icon-logo-3{
  color: var(--secendcolor);
  background-color: rgb(233, 24, 146);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  cursor: default;
  margin: 30px auto;
}
.content-secend-content-card-span{
  font-size: 25px;
  font-weight: 700;
  margin-top: 40px ;
}
.content-secend-content-card-p{
  font-size: 15px;
  font-weight: 500;
  margin: 20px auto;
}
/*/********************************************************************************/

.third-content-card{
  width: 100%;
  margin: 70px auto ;
}

.content-third-content-card{
  /*background: linear-gradient(#ffffff, #c4c4c4);
  background-color: var(--secendcolor);*/
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  height: max-content;

}





/**********************************************************************/
.fourth-content-card{

  margin: 90px auto ;
  display: flex;
  z-index: 10000;
}

.content-fourth-content-card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
  width: 250px;
  height: 250px;
  margin: auto;
  background-color: var(--secendcolor);
  text-align: center;
}

.content-fourth-content-card-span{
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px ;
}
.content-fourth-content-card-p{
  font-size: 15px;
  font-weight: 500;
  margin: 20px auto;
}

.fourth-content-card-icon-logo-1{
  color: var(--secendcolor);
  background-color: var(--maincolor);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  cursor: default;
  margin: 30px auto;
}
.fourth-content-card-icon-logo-2{
  color: var(--secendcolor);
  background-color: var(--maincolor);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  cursor: default;
  margin: 30px auto;
}
.fourth-content-card-icon-logo-3{
  color: var(--secendcolor);
  background-color: var(--maincolor);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  cursor: default;
  margin: 30px auto;
}
.fourth-content-card-icon-logo-4{
  color: var(--secendcolor);
  background-color: var(--maincolor);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  cursor: default;
  margin: 30px auto;
}

/**************** Screen *********************/

@media only screen and (max-width: 1150px) {
  .secend-content-card {
    flex-direction: column;
  }
  .content-secend-content-card{
    margin: 10px auto ;
  }
  .first-content-flexebility{
    flex-direction: column;
  }
  .right-card-field{
    margin: auto auto 50px auto;
  }
  .left-text-field{
    text-align: center;
  }

}
