<footer>
<div class="footer-content" >
  <div class="footer-content-card" >
    <div><span>COMPANY</span></div>
      <p>About us</p>
      <p>Our services</p>
      <p>Contract</p>
      <p>Blog</p>
  </div>
  <div class="footer-content-card" >
    <div><span>CONTACT</span></div>
      <p>+216 24989104</p>
      <p>+216 71265475</p>
      <button mat-mini-fab color="basic" class="social-media" >	<i class="fab fa-facebook-f fa-lg"></i></button>
      <button mat-mini-fab color="basic" class="social-media" >	<i class="fab fa-twitter fa-lg"></i></button>
      <button mat-mini-fab color="basic" class="social-media" >	<mat-icon>discord</mat-icon></button>
      <button mat-mini-fab color="basic" class="social-media" >	<i class="fas fa-vial"></i></button>
  </div>
  <div class="footer-content-card" >
    <div><span>ADRESS</span></div>
      <p>7 Ile Jhon Rue Freret</p>

      <p>Monastire</p>
      <p>Tunisie</p>
  </div>
  <div class="footer-copyright" >Copyright © 2021 Laboratoire Bechir</div>
</div>
</footer>
