<footer>
<div class="footer-content" >
  <div class="footer-content-card" >
    <div><span>COMPANY</span></div>
      <p>About us</p>
      <p>Our services</p>
      <p>Contract</p>
      <p>Blog</p>
  </div>
  <div class="footer-content-card" >
    <div><span>CONTACT</span></div>
     Bouaben bechir Biologiste
      <p>+216 23311619</p>
      <p>bechirb@gmail.com</p>
      <a mat-mini-fab color="basic" class="social-media" href="https://www.facebook.com/profile.php?id=100010841017166" target="_blank">	<i class="fab fa-facebook-f fa-lg"></i></a>
      <a mat-mini-fab color="basic" class="social-media" href="https://twitter.com/SaifJlassi2" target="_blank">	<i class="fab fa-twitter fa-lg"></i></a>
      <a mat-mini-fab color="basic" class="social-media" >	<mat-icon>discord</mat-icon></a>
      <a mat-mini-fab color="basic" class="social-media" >	<i class="fas fa-vial"></i></a>
  </div>
  <div class="footer-content-card" >
    <div><span>ADRESS</span></div>
      <p>Mahdia</p>
      <p>La Chebba 5170</p>
  </div>
  <div class="footer-copyright" >Copyright © 2022 Laboratoire Bechir</div>
</div>
</footer>
