.main-content{
  width: 90%;
  margin-bottom: 30px;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.mat-elevation-z8{
  margin: 30px auto;
}
th.mat-sort-header-sorted {
  color: black;
}
