.background-image-blur{
  background-image: url(../../assets/dna-163710.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  width: 100%;
  position: absolute;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  z-index: -1;
  /*filter: brightness(1.2);*/
}
