<div class="secend-toolbar-center" >
<mat-toolbar class="secend-toolbar" >


        <span class="result-text" >Vos résultats <span class="result-text-p">d'analyses en ligne</span></span >
          <div class="date" >
            {{date   | date: 'MMMM d, y, h:mm:ss  '}}
            </div>

      <span class="example-spacer"></span>
      <div>
        <button  mat-flat-button   id="button2"routerLink="/admin/users"><i class="fas fa-user-md"  ></i>Doctor</button>
      </div>

</mat-toolbar>
</div>

<mat-toolbar class="main-toolbar" >
  <img src="../../assets/logo1.png" alt="logo">
  <a routerLink="main" ><span>Laboratoire Chebba</span></a>
  <span class="example-spacer"></span>




  <div class="responsive-hidden">
    <a  *ngIf="userIsAuthenticated" [matMenuTriggerFor]="resmenu" ><i class="fas fa-user-check fa-xs"></i></a>
    <a  *ngIf="!userIsAuthenticated" [matMenuTriggerFor]="resmenu" ><i class="fas fas fa-user fa-xs" ></i></a>
  <mat-menu #resmenu="matMenu">
    <a *ngIf="!userIsAuthenticated" mat-menu-item routerLink="auth" >Login</a>
    <a *ngIf="userIsAuthenticated" routerLink="clientpage" mat-menu-item >Profile</a>
    <a *ngIf="userIsAuthenticated" mat-menu-item (click)="onLogout()">Logout</a>
  </mat-menu>
    <a  [matMenuTriggerFor]="res" aria-label="Example icon-button with a menu">
      <i class="fas fa-bars"></i>
    </a>
    <mat-menu #res="matMenu">
      <a mat-menu-item>
        <a  mat-button routerLinkActive="mat-primary" routerLink="/about" >About us</a>
      </a>
      <a mat-menu-item>
        <a mat-button routerLink="/contact" routerLinkActive="mat-primary">Contact</a>
      </a>

    </mat-menu>

  </div>




  <div class="responsive-visible">
  <a  mat-button routerLinkActive="mat-primary" routerLink="/about" >About us </a>
  <a mat-button routerLink="/contact" routerLinkActive="mat-primary">Contact </a>
  <a  *ngIf="userIsAuthenticated" [matMenuTriggerFor]="menu" ><i class="fas fa-user-check fa-xs"></i></a>
  <a  *ngIf="!userIsAuthenticated" [matMenuTriggerFor]="menu" ><i class="fas fas fa-user fa-xs" ></i></a>
<mat-menu #menu="matMenu">
  <a *ngIf="!userIsAuthenticated" mat-menu-item routerLink="auth" >Login</a>
  <a *ngIf="userIsAuthenticated" routerLink="clientpage" mat-menu-item >Profile</a>
  <a *ngIf="userIsAuthenticated" mat-menu-item (click)="onLogout()">Logout</a>
</mat-menu>


</div>

</mat-toolbar>
