<div class="secend-toolbar-center" >
<mat-toolbar class="secend-toolbar" >


        <span class="result-text" >Vos résultats <span class="result-text-p">d'analyses en ligne</span></span >
          <div class="date" >
            {{date   | date: 'MMMM d, y, h:mm:ss  '}}
            </div>

      <span class="example-spacer"></span>
      <div>
        <button mat-raised-button id="button1" ><i class="fas fa-syringe" style="font-size: 19px; margin-right: 8px; "></i>Patient</button>
        <button mat-flat-button   id="button2"routerLink="/admin/users" ><i class="fas fa-user-md" style="font-size: 19px; margin-right: 8px; " ></i>Doctor</button>
      </div>

</mat-toolbar>
</div>

<mat-toolbar class="main-toolbar" >
  <img src="../../assets/logo1.png" alt="logo">
  <a routerLink="main" ><span>LaboDeSante</span></a>
  <span class="example-spacer"></span>
  <div>
  <a mat-button >Marketplace</a>

  <a mat-button  >About us </a>
  <a mat-button>Contact </a>
<a   [matMenuTriggerFor]="menu" ><i class="fas fa-user-circle  " ></i></a>
<mat-menu #menu="matMenu">
  <a *ngIf="!userIsAuthenticated" mat-menu-item routerLink="auth" >Login</a>
  <a *ngIf="userIsAuthenticated" routerLink="Clientpage" mat-menu-item >Profile</a>
  <a *ngIf="userIsAuthenticated" mat-menu-item (click)="onLogout()">Logout</a>
</mat-menu>
</div>
</mat-toolbar>
