
<div class="background-image-blur" >
  <div class="first-content">

<p>About Us</p>
</div>
</div>
<div class="mainpage" >
<div class="content" >
  <div class="content-div" >
    <span>ACCUEIL AU LABORATOIRE :</span>
    <p>À votre accueil au laboratoire, une secrétaire médicale constituera un dossier informatique reprenant les informations essentielles au prélèvement des échantillons, à l’analyse et au rendu de votre résultat.
      Pour cela, elle vous demandera :
    </p>
    <p>
      1) L’ordonnance comportant les analyses prescrites par votre médecin.<br>
      2) Les justificatifs d’affiliation et les documents de prise en charge de votre organisme d’assurance.
    </p>
  </div>
  <div class="content-div" >
    <span>LES PRÉLÈVEMENTS :</span>
      <p>Un prélèvement est réalisé en respectant les règles universelles d’hygiène et de sécurité aussi bien pour le patient que pour le personnel (matériel stérile à usage unique, lavage des mains).</p>
      <p>Les locaux et l’élimination des déchets de soins répondent aux exigences conformément à la réglementation en vigueur.
      Pour en savoir plus sur les prélèvements dans le laboratoire,</p>
    <h2>Le prélèvement sanguin</h2>
      <p>Le jeûne : faut-il être à jeun pour faire une prise de sang ?
        Lors de la prise de sang le patient est pris en charge par un professionnel de santé habilité (biologiste, technicien(e) ou infirmière), tenu aux règles de confidentialité.</p>
      <p>Il sera amené à interroger le patient, afin de collecter des informations utiles au bon déroulement et à l’interprétation de l’acte biologique.</p>
      <p>La plage horaire (sauf pour certains examens) recommandée pour les prélèvements sanguins est le matin avant 11h.
          Selon les examens prescrits, certaines conditions spécifiques doivent être respectées.
          N’hésitez pas de vous renseigner auprès du laboratoire.</p>
    <h2>– Jeûne</h2>
      <p>Un jeûne strict de 8 à 12 heures (ne rien manger, ne pas fumer et ne boire que de l’eau non gazeuse uniquement) est nécessaire pour la réalisation de la glycémie ou d’un bilan lipidique (cholestérol, triglycérides, HDL et LDL)</p>
    <h2>– Régime et hygiène de vie</h2>
      <p>Les habitudes alimentaires, voire professionnelles sont importantes à connaître pour interpréter certains résultats : le travail de nuit, la consommation de tabac voire le régime alimentaire, peuvent influer sur les examens à réaliser.</p>
      <p>Pour les dosages de certaines molécules (catécholamines, porphyrines, par exemple) il est nécessaire de respecter un protocole particulier et/ou un régime alimentaire.</p>
      <p>La connaissance de certains traitements médicamenteux et de leurs conditions d’administration (posologie, horaire) est notamment indispensable pour l’exécution de certains examens de biologie.</p>
    <h2>– No Stress</h2>
      <p>L’importance du stress est fréquemment sous-estimée. Il provoque spécifiquement la sécrétion de certaines hormones: cortisol, prolactine, </p>
    <span>ANALYSES A HORAIRES SPÉCIFIQUES :</span>
    <h2>Dosage de médicaments :</h2>
        <p>le prélèvement se fera avant la prise du médicament ou 8 – 12 heures après la dernière prise (taux résiduel) sauf indication contraire.</p>
    <h2>Cortisol sanguin et ACTH :</h2>
        <p>le matin vers 8h (taux de base).</p>
    <h2>Rénine et aldostérone :</h2>
        <p>prélèvement en position couchée : décubitus d’au moins 2 heures, prélèvement position debout : déambulation pendant au moins une heure.</p>
    <h2>Bilans hormonaux chez la femme :</h2>
        <p>bilan en début de cycle sauf indication contraire, la date des
          dernières règles doit être précisée.</p>
    <h2>Spermogramme :</h2>
        <p> après 3 à 5 jours d’abstinence.</p>
  </div>
</div>
</div>
