  <mat-card  >
  <form [formGroup]="form" (submit)="onSavePost()"  >
    <h1>Add Result</h1>

      <mat-form-field appearance="fill">
      <mat-label>Enter the object</mat-label>
      <input matInput type="text" formControlName="object" [formControl]="myControl"[matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="!form.get('object')" >you must enter a value</mat-error>
      </mat-form-field>

      <div class="butsdtsgdton" >
        <button type="button" mat-raised-button
        (click)="filepicker.click()" >Pick File</button>
        <input type="file" #filepicker (change)="onFilePicked($event)" >
      </div>
      <div *ngIf="filePreview != '' && filePreview" class="filepreview">
        <p>{{fileName}}</p>
      </div>
      <button mat-raised-button class="submit-button" type="submit">
      Submit</button>
  </form>

</mat-card>

