.mainpage{
  max-width: 1200px;
  margin: auto;
  padding: 0 50px;
  min-height: 600px;
}

 button {
  margin: 25px  ;
}
.toolbar{
  padding: 0 auto;
  margin: auto;
  width: max-content;
  height:20px;
}
.content{
  margin: 15px auto;
}
.toolbar-div{

  margin: auto;
  margin-top: -10px;
  width: max-content;
}
