.up-content{
  width: 100%;
background-color: #6dbae4;
z-index: -1;
position: relative;
}


.background-image-blur{
  background-image: url(../../assets/banner11.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  height: 300px;
  width: 600px;
  z-index: 1;
  position: relative;
  margin-bottom: 40px;
}

.first-content{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto ;
  text-align: center;
  height: max-content;
  width: 250px;
  z-index: 10;

}

.first-content p{
  color: white;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}
/*********************************/

.mainpage{
  max-width: 1200px;
  margin:20px auto ;
  min-height: 600px;

}
/*********************************/
.content{
  margin:  auto;
  width: 90%;
}
.content-div{
  margin: 50px 20px ;
  line-height: 1.6;
}
.content-div span {
  color: var(--maincolor);
  font-size: 40px;
  font-weight: lighter;
}
.content-div p {
  line-height: 1.6;
  font-weight: lighter;
  font-size: 19px;
  margin-top: 19px;
}
/*********************************/

.secend-content{
  min-height: 410px;
  margin:  auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.secend-content-first{
  width: 45%;
}

  .secend-content-info{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height: 80px;
    display: flex;
    font-weight: 100;
    margin: 30px auto;

  }
  .text-div p {
    font-size: 22px;
    font-weight: 500;
  }
  .text-div span{
    color: rgb(65, 65, 65);
    font-size:17px ;
    font-weight: 400;
  }
  .icon-div{
    color: var(--secendcolor);
    background-color: var(--maincolor);
    min-width: 55px;
    height:55px;
    border-radius: 50%;
    margin-right: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 65px;
  }
  mat-ico{
    transform: scale(3);
  }

.secend-content-secend{
  width: 50%;
}
.secend-content-secend mat-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 90%;
  height: 90%;
}
mat-divider{
  background-color: rgb(226, 226, 226);
}
mat-card:hover{
  transform: scale(1.01);
  cursor: default;
}

.secend-content-secend h1{
text-align: center;
}
/*************************************/

mat-form-field{
  margin: auto;
  width: 70%;

}
.submit-button{
width: 50%;
margin: auto;
margin-bottom: 10px;
color: var(--secendcolor);
background-color: var(--maincolor);
}

form {
  height: 95%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.icon{
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}
/********************Screen***************************/
@media only screen and (max-width: 1150px) {
  .secend-content {
    flex-direction: column;
  }
  .secend-content-first{
    margin: auto;
    width: 80%;
  }
  .secend-content-secend{
    margin: auto;
    width: 80%;
  }

}
