<div class="background-image-blur" >
</div>
<div class="mainpage" >
<div class="first-content">

<h1>Contac Us</h1>
<h3>ismi saif idiinee je ma sarkouzi de la freeere la minouch bel je ma sarkouzi de la freeere fakos de merde de puta de ramos</h3>
</div>
<div class="secend-content" >
  <div class="secend-content-first" >

  <div class="mat-list">
    <mat-card class="secend-content-info">
        <div class="icon-div" ><mat-icon>map</mat-icon></div>
        <div class="text-div" >
            <p>Address</p>
            <span>4546 Sugaar comp Bood blood<br>
              bahdha bousta teli
            </span>
        </div>
    </mat-card>
    <mat-card class="secend-content-info">
      <div class="icon-div" ><mat-icon>phone</mat-icon></div>
      <div class="text-div" >
          <p>Phone</p>
          <span>
            216-24-989-104
          </span>
      </div>
    </mat-card>
  <mat-card class="secend-content-info">
    <div class="icon-div" ><mat-icon>email</mat-icon></div>
    <div class="text-div" >
        <p>Email</p>
        <span>
          Glassisaif@gmail.com
        </span>
    </div>
</mat-card>
  </div>

  </div>
  <div class="secend-content-secend" >
    <mat-card >
      <form (submit)="onSignup(signupForm);signupForm.resetForm()" #signupForm="ngForm"  >
        <h1>Send Message</h1>

          <mat-form-field appearance="fill">
            <mat-label>Enter your name</mat-label>
            <input matInput type="text" ngModel name="nom" #nom="ngModel"  required >
            <mat-error *ngIf="nom.invalid">you must enter a value</mat-error>
            </mat-form-field>


              <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" ngModel name="email" #email="ngModel" required>
                <mat-error *ngIf="email.invalid">you must enter a value</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Message</mat-label>
                <textarea matInput ngModel name="textA" #textA="ngModel" required ></textarea>
                <mat-error *ngIf="textA.invalid">you must enter a value</mat-error>
              </mat-form-field>

          <button mat-raised-button class="submit-button" type="submit" >Send</button>
      </form>


    </mat-card>
  </div>

</div>
</div>
