.mainpage{
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 50px;
  min-height:530px ;
}
mat-card{
  margin: 50px auto;
  width: 600px;
  height: 300px;
}





.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 20px 50px 40px 20px;
	height: 100%;
	float: left;
	width: 40%;

}
.product-details p{
  font-size: 22px;
}

.resultinfo{
  margin-bottom:10px;
  max-width: 90%;
  width: 80%;
  height: 60px;
  background-color: rgb(233, 233, 233);
  font-size: 15px;
  padding: 15px;
  border-radius: 2px;
  }



#container .product-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;

}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%;
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}






.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;

}


.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
}



.image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 45%;
	display: inline-block;

}

.image img {
  width: 100%;
  height: 100%;
}

