/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a{
  cursor: pointer;
  text-decoration: none;
}
.fas{
  font-size: 27px;
}
ul{
  list-style-type: none;
}


:root {
  --maincolor: #16628b;
  /*--secendcolor:white;*/
  /*--maincolor: #164663;*/
  --secendcolor:#ffffff;
}


.red-snackbar {
  background: #da220a;
  color: #ffffff;
}
.green-snackbar {
  background: #088f1f;
  color: #ffffff;
}
