<div class="div-div-mat-spinner" *ngIf="isLoading">
<div class="div-mat-spinner" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
</div>
<mat-card *ngIf="!isLoading" >
<form (submit)="onLogin(loginForm)" #loginForm="ngForm" >
  <h1>Login</h1>
    <mat-form-field  appearance="fill">
      <mat-label>Enter your Phone</mat-label>
      <input matInput type="text" ngModel name="tel" #tel="ngModel" pattern="[0-9]+"  maxlength="8" placeholder="Ex. 22666999" required>
      <mat-error *ngIf="tel.invalid">you must enter a value</mat-error>
      </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" ngModel name="password" #password="ngModel"  required >
    <mat-error *ngIf="password.invalid">you must enter a value</mat-error>

    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    </mat-form-field>

    <button mat-raised-button class="submit-button" type="submit">Submit</button>
    <a routerLink="/auth/signup" style="text-decoration: underline; color: blue; position: absolute; bottom: 5px; right: 5px;" >Create new account</a>

</form>

</mat-card>
